%h1 Listing books
- @books.each do |book|
  %p= book.title
  %p= book.description
  = link_to 'Show', user_book_path(@user, book)
  = link_to 'Edit', edit_user_book_path(@user, book)
  = link_to 'Destroy', user_book_path(@user, book), :method => :delete, :data => { :confirm => 'Are you sure?' }
  %hr

%br

= link_to 'New Book', new_user_book_path
