= image_tag @book.image.url(:medium), class: 'image'
%h3 Title: 
%p= @book.title
%h3 Author: 
%p= @book.author
%h3 Description:
%p= @book.description
%p
  = link_to 'Download', download_book_path(@book), 'data-turbolinks': false, class: 'btn btn-info' if @book.document?
  = link_to 'Coupons', generate_coupon_user_book_path, class: 'btn btn-warning', remote: true
= link_to 'Edit', edit_user_book_path(@user, @book)
\|
= link_to 'Back', user_books_path
